{% extends 'base.html' %}

{% block content %}

<div class="container pt-5 pb-2">
        <div class="row pb-2">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <img src="https://i.postimg.cc/m2tgpQQg/benefit.png" alt="">
                    </div>
                    <div class="col-6">
                        <H5>Learn awesome tech</H5>
                        <p>
                            You will learn about programming language. such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client-site apps using React Library, etc.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                            <img src="https://i.postimg.cc/L40HPnrK/search-job.png" alt="">
                    </div>
                    <div class="col-6">
                        <H5>Land new job</H5>
                        <p>
                           If you can pass this awesome programe, you will be part of our reliable tech team for especially Software Engineer position and other tech position such as Quality Engineer, System Analyst, etc.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                            <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png" alt="">
                    </div>
                    <div class="col-6">
                        <H5>Get paid to learn</H5>
                        <p>
                            Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will receive pocket money just for participating. Cool, right?
                        </p>
                    </div>    
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-3 pb-2">
            <div class="col-4">
                <img src="https://i.postimg.cc/Pq4H5xm7/mission.png" alt="">
            </div>
            <div class="col-6">
                <h4>
                    Who are we?
                </h4>
                <p>
                    Alpha Tech Academy is a tech talent incubation that ives anyone any chance (not even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia.
                </p>
                <br>
                <h4>
                    What is our mission
                </h4>
                <p>
                    We want to improve capability Tech Talent in Indonesia.
                </p>
            </div>
        </div>
        <div class="row justify-content-center pt-3 pb-2">
            <div class="col-10">
                <h4 class="text-center">
                    What will you learn?
                </h4>
                <br>
                <div class="row align-items-center text-center section-box">
                    <div class="col-3 align-self-center">
                        <div class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/ZqFbvjhV/learn-html.png" alt="Card image">
                        </div>
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/c424prmM/learn-programming.png" alt="">
                        </card>
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/vBYQr9YM/learn-git.png" alt="">
                        </card>
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/m2zTyTsc/learn-api.png" alt="">
                        </card>    
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/6qTtSX4m/learn-react.png" alt="">
                        </card>
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/GmDhddg0/learn-tdd.png" alt="">
                        </card>
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/c4p0DPxF/learn-server.png" alt="">
                        </card>
                    </div>
                    <div class="col-3 align-self-center">
                        <card class="card p-2" style="width:100px">
                            <img class="card-image-top" src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png" alt="">
                        </card>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}